{% extends "themes/base_user.html.twig" %}

{% block title %}Espace client
{% endblock %}

{% block description %}ElectroTech, entreprise de ecommerce spécialisée dans la vente de produits electroménagers.
{% endblock %}

{% block keywords %}ElectroTech, Qui sommes-nous, Produits électroménagers, Curseur de riz, Machine à laver
{% endblock %}

{% block main %}
	<div
		class="container my-2">

		<!-- Titre de la page -->
		<h1 class="text-center my-3 display-5">Bonjour
			{{app.user.firstName}}</h1>
		<!-- Fin Titre de la page -->

		<div
			class="row mt-5 d-flex justify-content-center align-items-center">
			<!-- Card Du profile -->
			<div class="col-md-4">
				<a href="{{path('user.profile.index')}}" class=' text-decoration-none'>
					<div class="card mb-3 _card_home">
						<div class="row g-0">
							<div class="col-md-4">
								<img src="{{asset('Images/Profile/Profile/image_modification_profile.png')}}" class=" h-75 w-75" alt="image_modification_profile.png">
							</div>
							<div class="col-md-8">
								<div class="card-body">
									<h5 class="card-title">Votre Profil</h5>
									<p class="card-text">Modifier votre profil ou mot de passe, Supprimer votre compte.</p>
								</div>
							</div>
						</div>
					</div>
				</a>
			</div>
			<!-- Fin Card Du profile -->

			<!-- Card Adresses -->
			<div class="col-md-4">
				<a href="{{path('user.address.index')}}" class=" text-decoration-none">
					<div class="card mb-3 _card_home">
						<div class="row g-0">
							<div class="col-md-4">
								<img src="{{asset('Images/Addresses/image_addresses.png')}}" class=" h-75 w-75" alt="image_addresses.png">
							</div>
							<div class="col-md-8">
								<div class="card-body">
									<h5 class="card-title">Adresses</h5>
									<p class="card-text">Modifier les adresses et les préférences de livraison des commandes et des cadeaux.</p>
								</div>
							</div>
						</div>
					</div>
				</a>
			</div>
			<!-- Fin Card Adresses -->

			<!-- Card Commandes -->
			<div class="col-md-4">
				<a href="{{path('user.order.index')}}" class=" text-decoration-none">
					<div class="card mb-3 _card_home">
						<div class="row g-0">
							<div class="col-md-4">
								<img src="{{asset('Images/Commande/Images_commandes.png')}}" class=" h-75 w-75" alt="image_commande.png">
							</div>
							<div class="col-md-8">
								<div class="card-body">
									<h5 class="card-title">Vos commandes</h5>
									<p class="card-text">Suivre, retourner ou acheter à nouveau.</p>
								</div>
							</div>
						</div>
					</div>
				</a>
			</div>
			<!-- Fin Card Commandes -->

		</div>
	</div>
{% endblock %}
